<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641624677757-l6fre6bodf40o49kpq94ceioge0kbsvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641624677757-l6fre6bodf40o49kpq94ceioge0kbsvs</string>
	<key>API_KEY</key>
	<string>AIzaSyDbnxJYcnlbkCipG5ToNnWilEva5A_XymI</string>
	<key>GCM_SENDER_ID</key>
	<string>641624677757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ss.SecondSpringApp</string>
	<key>PROJECT_ID</key>
	<string>secondspring-64ba3</string>
	<key>STORAGE_BUCKET</key>
	<string>secondspring-64ba3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641624677757:ios:6ecd30965d4341aeb18014</string>
</dict>
</plist>